Deploy-it/student-file/src/main/mule/learnramlspec.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
  
    <flow name="learnramlspec-main">
        <http:listener config-ref="learnramlspec-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="learnramlspec-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="learnramlspec-console">
        <http:listener config-ref="learnramlspec-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="learnramlspec-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
  <flow name="put:\createStudentInformation:application\json:learnramlspec-config">
<logger level="INFO" doc:name="Start Logger" doc:id="02033d5a-74f8-4870-9b20-740dcd7511cd" message="#['\n'] -- Start of the Insert Flow --"/>
		<flow-ref doc:name="insertStudentInformation-flow" doc:id="806c024a-3cdd-4167-b706-c220f4334667" name="insertStudentInformation-flow"/>
		<logger level="INFO" doc:name="End Logger" doc:id="4978dea2-2907-43f0-b308-0b33632f4933" message="#['\n'] -- End of the Insert Flow --"/>
</flow>

<flow name="get:\deleteStudentInformation\(uriParameter):learnramlspec-config">
<logger level="INFO" doc:name="Start Logger" doc:id="c79bbf5e-c52c-46d4-8f3f-482e0c9be05c" message="#['\n'] -- Start of the Delete Flow --" />
		<flow-ref doc:name="deleteStudentInformation-flow" doc:id="c12adc57-cddf-4378-b5b4-92e29ef497d9" name="deleteStudentInformation-flow"/>
		<logger level="INFO" doc:name="End Logger" doc:id="6cca3a10-2cc1-4594-ac78-a35cd2059dd9" message="#['\n'] -- End of the Delete Flow --" />
</flow>
<flow name="get:\retrieveStudentInformation:learnramlspec-config">
<logger level="INFO" doc:name="Start Logger" doc:id="14ce7207-a8aa-43dd-97ed-01f29d792b50" message="#['\n'] -- Start of the Retrieve Flow --" />
		<set-variable value="#[attributes.queryParams.studentID]" doc:name="Set Variable" doc:id="11511b6f-8dd1-4bf6-8cc9-d1b30b83c514" variableName="studentID" />
		<flow-ref doc:name="retrieveStudentInformation-flow" doc:id="b057251a-a0e9-4244-8eb7-4e88cbe51d4b" name="retrieveStudentInformation-flow"/>
		<logger level="INFO" doc:name="End Logger" doc:id="7423cf3b-df44-49f8-badd-5f0b0ebca655" message="#['\n'] -- End of the Retrieve Flow --" />
</flow>
<flow name="post:\createStudentInformation:application\json:learnramlspec-config">
<logger level="INFO" doc:name="Start Logger" doc:id="73dfb9b4-17cd-4896-9f1f-b6da70d13e5b" message="#['\n'] -- Start of the Update Flow --" />
		<flow-ref doc:name="updateStudentInformation-flow" doc:id="2d096183-5c3f-4003-a2b1-fcd890e6e610" name="updateStudentInformation-flow"/>
		<logger level="INFO" doc:name="End Logger" doc:id="a04b2fef-779d-4026-968f-900208743a80" message="#['\n'] -- End of the Update Flow --" />
</flow>
</mule>
